* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}
canvas {
  display: block;
  background-color: #000;
  border-radius: 10px;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 17px;
  background-color: #9140de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #5a278a;
  transform: scale(1.05);
}

button:active {
  background-color: #3c1c5b;
  transform: scale(0.95);
}

#backButton {
  position: absolute;
  top: 30px;
  left: 40px;
}
